#main{
    height: 100vh;
    background: rgb(134, 199, 241);
    
}
#sect-card{
    position: relative;
}
.list-card{
    min-width: 270px;
    max-width: 270px;
    height: auto;
    background: rgb(250, 251, 252);
    cursor: move;
}


#img-avt{
    width: 30px;
    border-radius: 20px;
}
#add-list{
    display: none;
}

#add-card3{
    display: none;
}
