#main{
    height: 100vh;
    background: rgb(56, 114, 126);
}
#sect-card{
    position: relative;
}
.card{
    min-width: 270px;
    max-width: 270px;
    height: auto;
    background: rgb(236, 234, 234);
}